.container-all {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container {
  width: 100%;
  padding: 20px;
}

.card-body-agenda {
  background-color: #eef0f8;
  padding: 0 !important;
}

.container-select-days {
  display: flex;
  flex-direction: column;
}

.select-day {
  width: 100%;
  padding: 12px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day-of-week {
  display: flex;
  align-items: center;
}

.day-of-week span {
  font-weight: bold;
  font-size: 16px;
}

.select-day-check {
  padding: 5px;
}

.hours-of-day {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerHour {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;
  border-radius: 8px;
  padding: 0px 40px;
  border: 1px solid #dcdde2;
}

.containerHour span {
  margin-bottom: 5px;
}

span.separator-hours {
  font-weight: bold;
  font-size: 15px;
}

.form-control-hour-agenda {
  border: none !important;
  padding: 0 5px !important;
}

.active_button {
  font-weight: bold;
}

.ul_button_config li{
  list-style: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}